<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!-- подключаем свой фильтр -->
{% load custom_filters %}
<!-- подключаем свой тег для пагинации -->
{% load custom_tags %}

<!-- Название news_search -->
{% block title %}
News_search
{% endblock title %}

<!-- В контенте на странице мы выводим публикации по поиску -->
{% block content %}
    <h2>Поиск по всем новостям (публикациям) </h2>
    <hr>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}

        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>

    {% if news_search %}
<!--        <h3>Количество найденных по фильтру новостей: {{ news_search|length }}</h3>-->
        <hr>
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Выдержка из текста (20 символов)</td>
                <td>Тип публикации</td>
            </tr>
            {% for i_news in news_search %}
            <tr>
                <td>{{ i_news.title|censor }}</td>
                <td>{{ i_news.time|date:'d.m.y' }}</td>
                <td>{{ i_news.text|truncatechars:20|censor }}</td>
                <td>{{ i_news.categoryType }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей по заданным параметрам поиска нет!</h2>
    {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}