<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!-- подключаем свой фильтр -->
{% load custom_filters %}
<!-- подключаем свой тег для пагинации -->
{% load custom_tags %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <h2>Все публикации (новости и статьи)</h2>
<!--    <h3>Вывод как Queryset, без фильтра censor</h3>-->
<!--    <hr>-->
<!--    {{ news }}-->
    <hr>
    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {# user - это тоже template variable #}
    {# perms - переменная(template variable), в которой сохраняются права текущего пользователя #}
    {% if perms.app1.add_post %}
        <a href="{% url 'news_create' %}">Добавить публикацию</a>
    {% endif %}


    {% if news %}
        <h3>Количество публикаций на странице: {{ news|length }}</h3>
        <hr>
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Выдержка из текста (20 символов)</td>
                <td>Категория</td>
                {# Условие получается составным. #}
                {% if perms.app1.change_post or perms.app1.delete_post %}
                    <td>Действия</td>
                {% endif %}
            </tr>
            {% for i_news in news %}
            <tr>
                <td>{{ i_news.title|censor }}</td>
                <td>{{ i_news.time|date:'d.m.y' }}</td>
                <td>{{ i_news.text|truncatechars:20|censor }}</td>
                <td>{{ i_news.postCategory.all }}</td>
                <td>
               {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.app1.change_post %}
                        {% if i_news.categoryType == 'NW' %}
                            <a href="{% url 'news_edit' pk=i_news.id %}">Изменить новость</a>
                        {% endif %}
                        {% if i_news.categoryType == 'AR' %}
                            <a href="{% url 'article_edit' pk=i_news.id %}">Изменить статью</a>
                        {% endif %}
                    {% endif %}
                    {% if perms.app1.delete_post %}
                        {% if i_news.categoryType == 'NW' %}
                            <a href="{% url 'news_delete' pk=i_news.id %}">Удалить новость</a>
                        {% endif %}
                        {% if i_news.categoryType == 'AR' %}
                            <a href="{% url 'article_delete' pk=i_news.id %}">Удалить статью</a>
                        {% endif %}
                    {% endif %}
               </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Публикаций нет!</h2>
    {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}