{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Удаление новости - NW</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {% if news_id.categoryType == 'NW' %}
        <p>Удаляем новость {{ news_id.categoryType }} "{{ news_id }}"?</p>
        <input type="submit" value="Delete" />
    {% else %}
    <p>На этой странице можно удалить только новость - NW</p>
    <p><a href='/articles/{{news_id.pk}}/delete'>Удаление статьи</a></p>
    {% endif %}
</form>
{% endblock content %}
